{
  "presets": ["es2015"],
  "plugins": [
    "syntax-async-functions",
    "transform-async-to-generator",
    "transform-class-properties",
    "transform-minify-booleans",
    "syntax-async-generators"
  ]
}
