doctype html
html(lang="ru")
  head
    meta(charset="UTF-8")
    title Angular Webpack Starter Kit
    meta(name="viewport", content="width=device-width, user-scalable=no")
    meta(http-equiv="X-UA-Compatible", content="IE=edge")
    meta(name="HandheldFriendly", content="true")
    meta(name="format-detection", content="telephone=no")
    meta(name="format-detection", content="address=no")
    base(href="/")
  body(ng-cloak="", id="app-container")
    app.block(ng-class="{'noHover': isHover}", pointer-events="")
